site_name: Games Recommendation System
site_url: https://recsys.com

theme:
  icon:
    logo: fontawesome/solid/w
  font:
    text: Merriweather Sans
    code: Red Hat Mono
  name: material
  palette: 
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark Mode
      primary: indigo
      accent: deep orange
    - scheme: default
      toggle:
        icon: material/weather-moonset
        name: Light Mode
      primary: blue
      accent: deep orange

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list